@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0px 0px 0px 0px;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

/*****************************************/
body {
  font-family: Roboto;
  font-weight: 300;
  background-color: #fff;
}

.header__container,
.new-automation__container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 113px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.header {
  padding-top: 34px;
}

.new-automation__title {
  font-size: 64px;
  line-height: 116%;
  color: #1f3f68;
  margin-bottom: 71px;
  max-width: 504px;
}
.new-automation__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 71px;
  max-width: 425px;
}
.new-automation__btn {
  width: 220px;
  height: 56px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  box-shadow: 5px 10px 20px 0 rgba(53, 110, 173, 0.2);
  background: #5a98d0;
  cursor: pointer;
  transition: 0.4s ease;
}
.new-automation__btn:hover {
  opacity: 0.8;
}

.what-we-do__container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 113px;
}

.what-we-do {
  margin-bottom: 64px;
}
.what-we-do__title {
  font-size: 36px;
  line-height: 128%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
  margin-bottom: 64px;
}
.what-we-do__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.card {
  max-width: 359px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 480px;
  padding: 0 32px;
  box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
  background: #fff;
}
.card__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #1f3f68;
}
.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #1f3f68;
}
.card__btn {
  align-self: flex-start;
  font-weight: 400;
  font-size: 14px;
  color: #5a98d0;
  background-color: transparent;
  height: 27px;
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}
.card__btn:hover {
  transform: scale(1.04);
}
.card__btn:hover::after {
  transform: translateX(5px);
}
.card__btn::after {
  content: url("../assets/icons/arrow.svg");
  display: block;
  width: 22px;
  height: 22px;
  transition: 0.4s ease;
}

.our_finished {
  margin-bottom: 112px;
}
.our_finished__container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 113px;
}

.our_finished__title {
  font-size: 36px;
  max-width: 318px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.our_finished__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #222;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 750px;
}

.images {
  display: grid;
  grid-template-columns: 554px 555px;
  grid-template-rows: auto auto;
  gap: 32px;
}
.images .img-wrapper {
  grid-column: span 1;
  /* каждый .img-wrapper занимает одну колонку */
}
.images .img-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 164%;
  letter-spacing: 0.05em;
  color: #fff;
}
.images .small-size {
  position: relative;
}
.images .small-size .img-text {
  position: absolute;
  top: 32px;
  left: 32px;
}
.images .big-size {
  grid-column: 1/-1;
  position: relative;
}
.images .big-size .img-text {
  position: absolute;
  top: 64px;
  right: 64px;
}

.footer__container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 113px;
  color: #fff;
  background-color: rgb(49, 96, 153);
}

.interested {
  padding-top: 91px;
  display: flex;
  display: flex;
  justify-content: space-between;
}
.interested__wrapper {
  max-width: 495px;
}
.interested__title {
  font-size: 36px;
  margin-bottom: 32px;
  max-width: 340px;
  line-height: 128%;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.interested__description {
  font-style: 16px;
  font-weight: 400;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.6;
}
.interested__btn {
  width: 236px;
  height: 56px;
  background-color: rgb(90, 152, 208);
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease;
}
.interested__btn:hover {
  opacity: 0.8;
}

.contacts {
  padding-top: 64px;
}
.contacts__list {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
.contacts__list li {
  text-align: left;
  display: flex;
  width: 358px;
  flex-wrap: nowrap;
}
.contacts__list span {
  margin-right: 22px;
  width: 21px;
  display: block;
}
.contacts__paragraph {
  padding-bottom: 64px;
  opacity: 0.4;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 112px;
  }
  .header__container {
    margin-bottom: 0;
    padding: 0 32px;
  }
  .new-automation {
    margin-bottom: 190px;
  }
  .new-automation__container {
    padding: 0 32px;
    position: relative;
  }
  .new-automation__info {
    position: relative;
    z-index: 2;
  }
  .new-automation__title {
    font-size: 64px;
    line-height: 116%;
    color: #1f3f68;
    margin-bottom: 32px;
    max-width: 504px;
  }
  .new-automation__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #1f3f68;
    margin-bottom: 71px;
    max-width: 425px;
  }
  .new-automation__btn {
    width: 220px;
    height: 56px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    box-shadow: 5px 10px 20px 0 rgba(53, 110, 173, 0.2);
    background: #5a98d0;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .new-automation__btn:hover {
    opacity: 0.8;
  }
  .new-automation .img-wrapper {
    position: absolute;
    top: 166px;
    right: 32px;
  }
  .new-automation .img-wrapper img {
    width: 336px;
    height: 292px;
  }
  .what-we-do__container {
    padding: 0px 32px;
  }
  .what-we-do__cards {
    margin: 0 auto;
    justify-content: center;
    max-width: 335px;
  }
  .card {
    width: 334px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 448px;
    padding: 40px 30px;
  }
  .card__description {
    max-width: 265px;
  }
}
@media (max-width: 630px) {
  .new-automation__container {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .new-automation .img-wrapper {
    margin: 0 auto;
    position: static;
  }
}